FLASK_SECRET_KEY=troque_esta_chave
FLASK_HOST=0.0.0.0
FLASK_PORT=6000
FLASK_DEBUG=False

DB_USER=usuario_oracle
DB_PASSWORD=senha_oracle
DB_PORT=15021
DB_SERVICE_NAME=DSL
DB_HOSTS=200.150.131.218, 201.20.76.123, 200.209.10.130
DB_DSN=

API_URL=https://mx2tech.myzappi.com.br/api/messages/send-cta
API_TOKEN=token_whatsapp
NUMERO_ADMIN=5500000000000

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=
